﻿@page "/users/newuser"

@using Products.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavManager

<EditForm Model="@User" OnValidSubmit=@OnValidSubmission>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3>Create new user</h3>
    <hr />
    <div class="form-btn-group row">
         @*First Name*@
        <label for="firstName" class="col-sm-2 col-form-label">
            First Name:
        </label>
        <div class ="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                    @bind-Value="User.FirstName" />
            <ValidationMessage For="() => User.FirstName" class="col" />
        </div>
        @*Last Name*@
        <label for="lastName" class="col-sm-2 col-form-label">
            Last Name:
        </label>
        <div class="col-sm-10">
            <InputText id="lastName" class="form-control" placeholder="Last Name"
                    @bind-Value="User.LastName" />
            <ValidationMessage For="() => User.LastName" class="col" />
        </div>
        @*User Login*@
        <label for="loginName" class="col-sm-2 col-form-label">
            User Login:
        </label>
        <div class="col-sm-10">
            <InputText id="loginName" class="form-control" placeholder="Login Name"
                    @bind-Value="User.LoginName" />
            <ValidationMessage For="() => User.LoginName" class="col" />
        </div>
        @*Password*@
        <label for="password" class="col-sm-2 col-form-label">
            Password:
        </label>
        <div class="col-sm-10">
            <InputText type="password" id="password" class="form-control" placeholder="Password"
                    @bind-Value="User.Password" />
            <ValidationMessage For="() => User.Password" class="col" />
        </div>
    </div>
    <br />
    <input class="btn btn-primary" type="submit" value="Submit" style="float: right">
</EditForm>


@code {

    protected User User { get; set; }

    protected override void OnInitialized()
    {
        User = new User();
    }

    //protected async Task FormSubmitted()
    //{
    //    await Http.PostAsJsonAsync("api/Users", User);
    //     NavManager.NavigateTo("/users");
    //}

    protected async Task OnValidSubmission()
    {
        await Http.PostAsJsonAsync("api/Users", User);
        NavManager.NavigateTo("/users");
    }
}
