﻿@page "/useredit"
@page "/useredit/{UserId}"

<section class="user_edit">
    <h1 class="page-title">Details for @User.FirstName @User.LastName</h1>
    <EditForm Model="@User">
        <div class="btn-group row">
            @*Last name*@
            <label for="lastName" class="col-sm-10"> Last name: </label>
            <InputText id="lastName" @bind-Value="@User.LastName" placeholder="Enter last name"/>
            @*First name*@
             <label for="firstName" class="col-sm-10"> First Name: </label>
            <InputText id="firstName" @bind-Value="@User.FirstName" placeholder="Enter first name"/>
            @*Login name*@
            <label for="loginName" class="col-sm-10"> Login Name: </label>
            <InputText id="loginName" @bind-Value="@User.LoginName" placeholder="Enter login name"/>
            @*Password*@
            <label for="password" class="col-sm-10"> Password: </label>
            <InputText id="password" type="password" @bind-Value="@User.Password" placeholder="Enter password"/>
        </div>
        <p/>
        <input class="btn btn-primary" type="submit" value="Submit" style="float: right">
    </EditForm>
</section>

@code {
    protected override void OnInitialized()
    {
        if (UserId != "")
        {
            http.
        }

    }
}