﻿@page "/users"
@using Products.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Login Name</th>
                <th>Password</th>
                <th>Created</th>
                <th>Expires</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var User in users)
            {
                <tr>
                    <td>@User.UserID</td>
                    <td>@User.FirstName</td>
                    <td>@User.LastName</td>
                    <td>@User.LoginName</td>
                    <td>@User.Password</td>
                    <td>@User.Created</td>
                    <td>@User.Expires</td>
                    @*<td><button class="btn btn-primary" @onclick="@(() => DeleteUser(User.UserID))">Delete</button></td>*@
                    <td><a class="btn btn-primary"><i class="oi oi-trash" @onclick="@(() => DeleteUser(User.UserID))"></i></a></td>
                    <td><a class="btn btn-primary"><i class="oi oi-pencil" @onclick="@(() => RedirectToEditUser(User.UserID))"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/users/newuser">Create a new user</a>
    //<button class="btn btn-primary" @onclick="RedirectToPage('/users/newuser')">New User</button>
}

@code {
    private User[]? users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<User[]>("api/Users");
    }

    protected async Task DeleteUser(int id)
    {
        await Http.DeleteAsync($"api/Users/{id}");
        users = await Http.GetFromJsonAsync<User[]>("api/Users");
    }

    protected void RedirectToPage(string url)
    {
        NavManager.NavigateTo(url);
    }

    protected void RedirectToEditUser(int id)
    {
        RedirectToPage($"useredit/{id}");
    }
}